/* Reset margins */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings default font and text size */
*{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

h1{
  font-size: 36px;
}
button{
  margin: 0 10px 0 0;
}
.form-container{
  display: inline-block;
  padding-bottom: 10px;
}

header{
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

section{
  padding-bottom: 10px;
  text-align:left;
}

